.BlueScreen {
    color: white;
    height: 100vh;
    width: 100vw;
    
    padding-top: 15vh;
    padding-left: 10%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    font-family: 'Segoe UI', Tahoma, sans-serif;
    box-sizing: border-box;
}

.BlueScreen h2 {
    margin: 0;
    font-size: 150px;
    font-weight: 300;
    line-height: 1.2;
}

.BlueScreen h3 {
    font-size: 30px;
    font-weight: 50;
    max-width: 60%;
    text-align: justify;
}

.BlueScreen .qr-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;
}

.BlueScreen img {
    height: 10%;
    display: block;
}

.BlueScreen .text-wrapper {
    display: flex;
    flex-direction: column;
}

.BlueScreen p {
    margin: 0;
    font-size: 12px;
    font-weight: 10;
    text-align: left;
}