.Trivia {
    color: white;
    height: 100vh;
    width: 100vw;
    
    padding-top: 15vh;
    padding-left: 5%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    font-family: 'Segoe UI', Tahoma, sans-serif;
    box-sizing: border-box;
}

.Trivia p {
    margin: 0;
    font-size: 40px;
    font-weight: 200;
    text-align: left;
}

.Trivia input {
    padding: 10px;
    margin-top: 30px;
    width: 25%;
}